body {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.playerOptions {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
}

.option {
    border: none;
    flex-grow: 1;
    height: 100%;
}

.option img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

h1 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 2.986rem;
}