body {
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
    text-align: center;
}

.playerOptions {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
}

.option {
    border: none;
    flex-grow: 1;
    height: 100%;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
}

.score {
    margin-top: 15px;
    margin-bottom: 0px;
}

#rock {
    background-color: #808080;
}

#paper {
    background-color: #ADD8E6;
}

#scissors {
    background-color: #FF6347;
}

h1 {
    text-align: center;
    font-size: 2.986rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 2.074rem;
}

.footer {
    height: 0px;
}

@media screen and (max-width: 800px) {
    .playerOptions {
        flex-direction: column;
        align-items: center;
    }
    .option {
        width: 100%;
    }
}